.hero-image {
  background-image: url("/assets/images/backgroundImage3.jpg");
  background-color: #cccccc;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.aboutIMG {
  max-width: 30%;
  height: auto;
}
